@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background: var(--light-gray);
    font-size: 15px;
}

main {
    padding: 3rem 1.5rem;
}

.intro {
    text-align: center;
    padding-block: 3rem;
}

h1 {
    font-weight: 200;
    color: var(--dark-blue);
    margin: 0;
    font-size: 1.8rem;;
}

.bold {
    font-weight: 600;
    margin: 0;
}

.intro p {
    color: var(--grayish-blue);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 25rem;
    padding-inline: 2rem;
    min-width: 18rem;
}

section {
    background: linear-gradient(var(--bg) 2%, transparent 2%), white;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 10px 15px var(--grayish-blue);
}

section h2 {
    color: var(--dark-blue);
    margin: 0;
    font-size: 1.3rem;
}

section p {
    color: var(--grayish-blue);
    margin: 0;
}

img {
    align-self: end;
    margin-top: 2.5rem;
}

.supervisor {
    --bg: var(--cyan);
}

.team-builder {
    --bg: var(--red);
}

.karma {
    --bg: var(--orange);
}

.calculator {
    --bg: var(--blue);
}

footer {
    padding: 1rem;
}

.attribution a {
    color: var(--blue)
}

@media screen and (min-width: 728px) {
    .container {
        flex-direction: row;
        gap: 0;
    }


    .container div {
        padding-inline: 1rem;
    }
}